.header {
  display: flex;
  /* justify-content: flex-end; */
  width: 100%;
  margin-bottom: 1rem;
  /* padding: 1rem; */
}

.info {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
}

.info span {
  margin: 0.25rem 0;
}